{% extends "layouts/base.html" %}

{% block title %} Dashboard - Report Details {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">CIDB</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboards</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dashboard_report_list' %}">Reporting & Certification List</a></li>
                <li class="breadcrumb-item active" aria-current="page">Detail</li>
              </ol>
            </nav>
          </div>
        </div>
        <!-- Card stats -->
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">

    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header text-center">
            <h2 class="mb-0">Project Title</h2>
          </div>
          <div class="card-body text-center">
            <h4>{{ qaa.pi.project_title }}</h4>
          </div>
        </div>
        {% if mode != 'view' %}
        <div class="card">
          <form action="" method="POST">
          {% csrf_token %}
          <div class="card-body text-center">
            {% if mode == 'review' %}<h4>Submit for Reviewing?</h4>{% endif %}
            {% if mode == 'verify' %}<h4>Submit for Verifying?</h4>{% endif %}
            {% if mode == 'approve' %}<h4>Submit for Approving?</h4>{% endif %}
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modal_yes">Yes</a>
            <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#modal_no">No</a>
            <!-- Modal Yes -->
            <div class="modal fade" id="modal_yes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Approve Document</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p class="mb-0">Are you sure you want to approve this document?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" name="yes" class="btn btn-primary">Approve</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal No -->
            <div class="modal fade" id="modal_no" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Disapprove Document</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p class="mb-0">Are you sure you want to disapprove this document?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" name="no" class="btn btn-primary">Disapprove</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
          </form>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            {% if report_type == 'qlassic_score_letter' %}
              <iframe src="{% url 'qlassic_report_generate' 'qlassic_score_letter' qaa.id %}" style="width:100%;height:800px;" title="Score Letter" frameborder="0"></iframe>
            {% endif %}
            {% if report_type == 'qlassic_report' %}
              <iframe src="{% url 'qlassic_report_generate' 'qlassic_report' qaa.id %}" style="width:100%;height:800px;" title="QLASSIC Report"></iframe>
            {% endif %}
            {% if report_type == 'qlassic_certificate' %}
              <iframe src="{% url 'qlassic_report_generate' 'qlassic_certificate' qaa.id %}" style="width:100%;height:800px;" title="QLASSIC Certificate"></iframe>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <a href="#" class="btn mb-3 btn-success w-100">Send to Applicant</a>
      </div>
    </div>

  </div>
  {% include 'includes/footer-dashboard.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
