{% extends "layouts/base.html" %}

{% block title %} Dashboard - Reporting & Certification List {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">CIDB</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboards</a></li>
                <li class="breadcrumb-item active" aria-current="page">Reporting & Certification List</li>
              </ol>
            </nav>
          </div>
        </div>
        <!-- Card stats -->
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">

    <div class="row">
      <div class="offset-md-1 col-md-10">
        <div class="card">
          <div class="card-header text-center">
            <h2 class="mb-0">List of Projects</h2>
          </div>
          <div class="table-responsive py-4">
            <table class="table table-custom-simplified table-flush">
              <thead class="thead-light">
                <tr>
                  <th>Project Title</th>
                  <th>Status</th>
                  <th>DLP Status</th>
                  <th>Report Generation</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for pr in projects %}
                <tr>
                  <th>{{ pr.pi.project_title }}</th>
                  <th>{{ pr.get_application_status_display }}</th>
                  <th>END</th>
                  <td>
                    <a href="{% url 'dashboard_qlassic_report_view' 'qlassic_score_letter' pr.id %}" class="btn btn-sm btn-default w-100 mb-2">Score Letter</button>
                    <a href="{% url 'dashboard_qlassic_report_view' 'qlassic_report' pr.id %}" class="btn btn-sm btn-default w-100 mb-2">Report</button>
                    <a href="{% url 'dashboard_qlassic_report_view' 'qlassic_certificate' pr.id %}" class="btn btn-sm btn-default w-100 mb-2">Certificate</button>
                  </td>
                  <td>
                    <a href="{% url 'dashboard_qlassic_report_view' 'qlassic_score_letter' pr.id %}" class="btn btn-sm btn-warning w-100 mb-2">View Score Letter</button>
                    <a href="{% url 'dashboard_qlassic_report_view' 'qlassic_report' pr.id %}" class="btn btn-sm btn-warning w-100 mb-2">View Report</button>
                    <a href="{% url 'dashboard_qlassic_report_view' 'qlassic_certificate' pr.id %}" class="btn btn-sm btn-warning w-100 mb-2">View Certificate</button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
  {% include 'includes/footer-dashboard.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
